<ion-header class="sheriff-header sheriff-tabpage-header">
    <ion-toolbar class="sheriff-toolbar">
        <div class="sheriff-header-background-wrapper">
            <div class="sheriff-header-droidstatus-padding-wrapper"></div>
            <div class="sheriff-header-background-inner-wrapper">
                <ion-grid class="sheriff-grid sheriff-page-header-grid addtsheetmodalheader-grid">
                    <ion-row class="sheriff-row sheriff-page-header-row addtsheetmodalheader-row">
                        <ion-col (click)="closeAddTSheet()" class="sheriff-col addtsheet-header-col close-btn-col ion-activatable ripple-parent">
                            <div class="sheriff-addtsheet-header-btn-wrapper close-btn">
                                <ion-icon class="sheriff-addtsheet-header-ico close-btn-ico" name="arrow-back"></ion-icon>
                            </div>
                            <ion-ripple-effect></ion-ripple-effect>
                        </ion-col>
                        <ion-col class="sheriff-col addtsheet-header-col title-col">
                            <div class="sheriff-addtsheet-header title-wrapper">
                                <span class="tsaddtsheet-title-prefix">Add Timesheet</span>
                            </div>
                        </ion-col>
                        <ion-col (click)="saveNewTSheet(false)" class="sheriff-col addtsheet-header-col save-addtsheet-btn-col ion-activatable ripple-parent">
                            <div class="shouldsave-indic-wrapper">
                                <ion-icon *ngIf="shouldSave&&!errorSave" class="shouldsave-indic-ico animate__animated animate__fadeIn" name="ellipse"></ion-icon>
                                <ion-icon *ngIf="errorSave" class="errorsave-indic-ico animate__animated animate__fadeIn" name="ellipse"></ion-icon>
                            </div>
                            <div [class.halfbrightness]="errorSave" class="sheriff-addtsheet-header-btn-wrapper save-btn">
                                <ion-icon class="sheriff-addtsheet-header-ico save-btn-ico" name="save"></ion-icon>
                            </div>
                            <ion-ripple-effect></ion-ripple-effect>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="tsheet-addtsheet-content tsheet-addtsheet-modal">
    <div class="tsheet-addtsheet-bground-wrapper"></div>
    <div class="tsheet-addtsheet-main-wrapper">
        <div *ngIf="wasChanged&&!errorSave" class="tsheet-addtsheet-updated-banner-wrapper">{{updateSaveBannerTxt}}</div>
        <ion-grid class="tsheet-addtsheet-item-grid heading-grid">
            <ion-row class="tsheet-addtsheet-item-row heading-row">
                <ion-col size="2" class="sheriff-addtsheet-item-grid heading-ico-col">
                    <img class="sheriff-addtsheet-heading-ico tsheet-heading-ico" src="../../../../assets/img/sheriff-addtsheet-ico.png">
                </ion-col>
                <ion-col size="8" class="sheriff-addtsheet-item-grid heading-text-col">
                    <div class="sheriff-addtsheet-heading-txt tsheet-heading-txt">New Timesheet</div>
                </ion-col>
                <ion-col size="2" class="sheriff-addtsheet-item-grid heading-ico-col">
                    <div style="background-image:url({{workAvatar}})" class="sheriff-addtsheet-workplaceava-wrapper"></div>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid class="tsheet-addtsheet-item-grid data-grid">
            <ion-row (click)="editArea(addTSFormData.areaId)" class="tsheet-addtsheet-item-row area-at-workplace ion-activatable ripple-parent">
                <ion-col size="2" class="sheriff-col tsheet-addtsheet-item-col area-at-workplace-col ico-col">
                    <ion-icon class="sheriff-ico tsheet-addtsheet-item-main-ico tsheet-detail-item-main-ico areaatworkplace-ico" name="locate"></ion-icon>
                </ion-col>
                <ion-col size="8" class="sheriff-col tsheet-addtsheet-item-col area-at-workplace-col data-col">
                    <div class="tsheet-addtsheet-item-data-label area-at-workplace">Area at {{addTSFormData.companyName}}</div>
                    <div class="tsheet-addtsheet-item-data-value area-at-workplace">{{addTSFormData.areaName}}</div>
                </ion-col>
                <ion-col size="2" class="sheriff-col tsheet-addtsheet-item-col area-at-workplace-col addtsheet-col">
                    <ion-icon [ngClass]="{'tsheet-warea-asheet-open-ico':aSheetOpen,'tsheet-warea-asheet-close-ico':!aSheetOpen}" class="sheriff-ico tsheet-addtsheet-item-addtsheet-ico area-at-workplace" name="chevron-forward"></ion-icon>
                </ion-col>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-row>
            <ion-row class="tsheet-addtsheet-item-row date-time">
                <ion-col size="2" class="sheriff-col tsheet-addtsheet-item-col date-time-col ico-col">
                    <img class="sheriff-ico tsheet-addtsheet-item-main-ico date-time-ico" src="../../../../../assets/img/sheriff-tsheet-detail-datetime-ico.png">
                    <div class="tsheet-addtsheet-datetime-icon-wrapper time">
                        <ion-icon class="sheriff-ico tsheet-addtsheet-item-main-ico startendtime-ico tsheet-detail-item-main-ico " name="stopwatch"></ion-icon>
                    </div>
                    <div class="tsheet-addtsheet-datetime-icon-wrapper breaks">
                        <ion-icon class="sheriff-ico tsheet-addtsheet-item-main-ico tsheet-detail-item-main-ico breaks-ico" name="pause"></ion-icon>
                    </div>
                    <div class="tsheet-addtsheet-datetime-icon-wrapper tt">
                        <ion-icon class="sheriff-ico tsheet-addtsheet-item-main-ico tsheet-detail-item-main-ico tt-ico" name="calculator"></ion-icon>
                    </div>
                </ion-col>
                <ion-col size="10" class="sheriff-col tsheet-addtsheet-item-col date-time-col data-col">
                    <ion-grid class="tsheet-addtsheet-item-grid datetime-grid">
                        <ion-row (click)="openDP('date')" class="tsheet-addtsheet-item-row date-time-inner-row date-row">
                            <ion-col size="10" class="tsheet-addtsheet-item-col date-time-inner-col date-col">
                                <div class="tsheet-addtsheet-item-data-label date">Date</div>
                                <div class="tsheet-addtsheet-item-data-value date">{{addTSFormData.date.txt}}</div>
                            </ion-col>
                            <ion-col size="2" class="sheriff-col tsheet-addtsheet-item-col date-select-col addtsheet-col">
                                <ion-icon [ngClass]="{'tsheet-warea-asheet-open-ico':dpDateOpen,'tsheet-warea-asheet-close-ico':!dpDateOpen}" class="sheriff-ico tsheet-addtsheet-item-addtsheet-ico" name="chevron-forward"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row class="tsheet-addtsheet-item-row date-time-inner-row time-row">
                            <ion-col size="6" class="tsheet-addtsheet-item-col date-time-inner-col starttime-col">
                                <div class="tsheet-addtsheet-item-data-label starttime">Start</div>
                                <div (click)="openDP('stime')" class="tsheet-addtsheet-time-input-wrapper starttime ion-activatable ripple-parent">
                                    <div *ngIf="addTSFormData.stime.txt!==null" class="tsheet-addtsheet-item-data-value starttime">{{addTSFormData.stime.txt}}</div>
                                    <div *ngIf="addTSFormData.stime.txt===null" class="tsheet-addtsheet-item-data-value starttime default">Select Start Time</div>
                                    <ion-icon *ngIf="newTSInputErr==='start'" class="addtsheet-inputerr-ico start" name="alert-circle-outline"></ion-icon>
                                    <ion-ripple-effect></ion-ripple-effect>
                                </div>
                            </ion-col>
                            <ion-col size="6" class="tsheet-addtsheet-item-col date-time-inner-col endtime-col">
                                <div class="tsheet-addtsheet-item-data-label endtime">End</div>
                                <div (click)="openDP('etime')" class="tsheet-addtsheet-time-input-wrapper endtime ion-activatable ripple-parent">
                                    <div *ngIf="addTSFormData.etime.txt!==null" class="tsheet-addtsheet-item-data-value endtime">{{addTSFormData.etime.txt}}</div>
                                    <div *ngIf="addTSFormData.etime.txt===null" class="tsheet-addtsheet-item-data-value endtime default">Select End Time</div>
                                    <ion-icon *ngIf="newTSInputErr==='end'" class="addtsheet-inputerr-ico end" name="alert-circle-outline"></ion-icon>
                                    <ion-ripple-effect></ion-ripple-effect>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row (click)="editNewBreaks()" class="tsheet-addtsheet-item-row date-time-inner-row breaks-row ion-activatable ripple-parent">
                            <ion-col size="10" class="tsheet-addtsheet-item-col date-time-inner-col breakstaken-col">
                                <div class="tsheet-addtsheet-item-data-label breakstaken">Breaks</div>
                                <div class="tsheet-addtsheet-item-data-value breakstakencount">
                                    <span class="tsheet-addtsheet-breaks-value mbreaktotal">{{addTSFormData.breaks.values.summary.r}}</span>
                                    <span class="tsheet-addtsheet-breaks-type-lbl rest-lbl">Rest</span>
                                    <span class="tsheet-addtsheet-breaks-sep">|</span>
                                    <span class="tsheet-addtsheet-breaks-value mbreaktotal">{{addTSFormData.breaks.values.summary.m}}</span>
                                    <span class="tsheet-addtsheet-breaks-type-lbl rest-lbl">Meal</span>
                                    <span class="tsheet-addtsheet-breaks-equals">=</span>
                                    <span class="tsheet-addtsheet-breaks-total-time-value">
                                      <span class="tsheet-addtsheet-breaks-tt-value">
                                        <span *ngIf="addTSFormData.breaks.values.summary.dur.hours>0" class="tsheet-detail-tt-value hrs">
                                          {{addTSFormData.breaks.values.summary.dur.hours}}
                                          <span class="tt-suffix hrs">hrs</span>
                                    </span>
                                    <span *ngIf="addTSFormData.breaks.values.summary.dur.minutes>0" class="tsheet-detail-tt-value mins">
                                          {{addTSFormData.breaks.values.summary.dur.minutes}}
                                          <span class="tt-suffix mins">mins</span>
                                    </span>
                                    </span>
                                    <span *ngIf="showTTLBreakMins&&addTSFormData.breaks.values.summary.dur.minutes===0" class="show-ttl-break-mins-span"><span class="defaultzer0" style="font-size:16px">0</span>mins</span>
                                    </span>
                                </div>
                            </ion-col>
                            <ion-col size="2" class="sheriff-col tsheet-addtsheet-item-col breaks-addtsheet-col">
                                <ion-icon class="sheriff-ico tsheet-addtsheet-item-addtsheet-ico breaks-addtsheet" name="chevron-forward"></ion-icon>
                            </ion-col>
                            <ion-ripple-effect></ion-ripple-effect>
                        </ion-row>
                        <ion-row class="tsheet-addtsheet-item-row date-time-inner-row total-time-col">
                            <ion-col size="12" class="tsheet-addtsheet-item-col date-time-inner-col totaltime-col">
                                <div class="tsheet-addtsheet-item-data-label totaltime">Total Time</div>
                                <div class="tsheet-addtsheet-item-data-value totaltime">
                                    <div *ngIf="newTSInputErr!=='start'&&newTSInputErr!=='end'" class="tsheet-addtsheet-tt-main-wrapper">
                                        <span *ngIf="!(addTSFormData.ttime.hours===0&&addTSFormData.ttime.minutes===0)" class="tsheet-addtsheet-tt-value">
                                    <span *ngIf="addTSFormData.ttime.hours>0" class="tsheet-addtsheet-tt-value hrs">{{addTSFormData.ttime.hours}}<span class="tt-suffix hrs">hrs</span></span>
                                        <span *ngIf="addTSFormData.ttime.minutes>0" class="tsheet-addtsheet-tt-value mins">{{addTSFormData.ttime.minutes}}<span class="tt-suffix mins">mins</span></span>
                                        </span>
                                        <div *ngIf="addTSFormData.ttime.hours===0&&addTSFormData.ttime.minutes===0" class="tsheet-addtsheet-tt-default">Calculated Automatically</div>
                                    </div>
                                    <div *ngIf="newTSInputErr==='start'||newTSInputErr==='end'" class="tsheet-addtsheet-error-msg-wrapper">
                                        <ion-icon class="addtsheet-error-ico" name="warning"></ion-icon>
                                        <div class="addtsheet-err-txt">
                                            <span *ngIf="newTSInputErr==='start'" class="startafterend">Start Time<ion-icon name="chevron-forward-outline"></ion-icon>End</span>
                                            <span *ngIf="newTSInputErr==='end'" class="endbeforestart">End Time<ion-icon name="chevron-back-outline"></ion-icon>Start</span>
                                        </div>
                                    </div>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
            <ion-row class="tsheet-addtsheet-item-row comments">
                <ion-col size="2" class="sheriff-col tsheet-addtsheet-item-col comments ico-col">
                    <ion-icon class="sheriff-ico tsheet-addtsheet-item-main-ico comments-ico tsheet-detail-item-main-ico" name="chatbox"></ion-icon>
                </ion-col>
                <ion-col size="10" class="sheriff-col tsheet-addtsheet-item-col area-at-workplace-col data-col">
                    <div class="tsheet-addtsheet-item-data-label comments">Comments</div>
                    <div class="tsheet-addtsheet-comment-type-wrapper employee">
                        <ion-input (ionBlur)="updateComments()" type="text" placeholder={{addTSFormData.comments.pholder}} mode="md" inputmode="text" clearInput="true" clearOnEdit="false" class="tsheet-addtsheet-comment-input" value={{addTSFormData.comments.content}}></ion-input>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>

</ion-content>