<ion-grid class="sheriff-grid popover-grid dppop-grid">
    <ion-row (click)="presetSelect(preset.name,i)" *ngFor="let preset of presets;let i = index" class="ion-activatable ripple-parent sheriff-row dppop-row preset{{i}} preset{{preset.name}}" [ngClass]="{'presetselected':preset.selected}">
        <ion-col size="12" class="sheriff-col dppop-col dppop-label-col ion-activatable ripple-parent" [ngStyle]="{'color': (preset.selected) ? '#aaaaaa' : '#848484'}">
            <div class="dppop-label">{{preset.label}}</div>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-col>
        <div class="pop-selected-bar" [ngClass]="{'on':preset.selected}"></div>
    </ion-row>
</ion-grid>